# Terraform state
*.tfstate
*.tfstate.backup
.crash/
.terraform/
terraform.tfstate*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*terraform.tfvars
crash.log
*.tfvars
.terraform.lock.hcl

# Backend config (do not share)
backend.tf

# IDE/editor configs
.vscode/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Archives / builds

*.tar.gz
 
# local stuff you dont need on git
cloud-resume.git/info/exclude
cloud-resume.git/hooks/update.sample
cloud-resume.git/hooks/sendemail-validate.sample
cloud-resume.git/hooks/push-to-checkout.sample
cloud-resume.git/hooks/prepare-commit-msg.sample
cloud-resume.git/hooks/pre-receive.sample
cloud-resume.git/hooks/pre-rebase.sample
cloud-resume.git/hooks/pre-push.sample
cloud-resume.git/hooks/pre-merge-commit.sample
cloud-resume.git/hooks/pre-commit.sample
cloud-resume.git/hooks/pre-applypatch.sample
cloud-resume.git/hooks/post-update.sample
cloud-resume.git/hooks/fsmonitor-watchman.sample
cloud-resume.git/hooks/commit-msg.sample
cloud-resume.git/hooks/applypatch-msg.sample
cloud-resume.git/HEAD
cloud-resume.git/description
cloud-resume.git/config
.gitattributes
